<section id="business-section">
    <div id="counter-up-trigger" class="counter-up text-white" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/home/star.jpeg)">
        <div class="cover"></div>
        <!-- Begin page header-->
        <div class="page-header-wrapper">
            <div class="container">
                <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                    <img src="assets/images/home/business/devide_business.png" />
                    <p class="devide_sub"><img src="assets/images/home/business/devide_business_sub.png" /></p>
                </div>
            </div>
        </div>
        <!-- End page header-->
        <div class="rotate-box-1-wrapper">
            <div class="container">
                <div class="row">
                    <div class="rotate-fact-start wow slideInLeft fact text-center">
                        <div class="rotate-box-1 square-icon">
                            <div class="fact-header col-md-12 col-sm-12">
                                <img src="assets/images/home/business/world_content_m.png" width="100%" />
                                <!-- <h1>THE WORLD OF INFINITE CONTENTS</h1> -->
                                <span class="subTitle">무한한 콘텐츠의 세계로 당신을 초대합니다.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra-space-xxl"></div>
                <div class="row">
                    <div class="fact col-md-6 col-sm-6 wow fadeInLeft">
                        <div class="fact-inner">
                            <img src="assets/images/home/business/business_title.png" width="100%"/>
                            <!-- <h4>갤럭시코퍼레이션은 IP, 플랫폼, 메타버스 서비스로 비즈니스를 만드는 집단입니다.</h4> -->
                        </div>
                    </div>
                    <div class="fact col-md-6 col-sm-6">
                        <div class="fact-inner wow fadeInRight" data-wow-delay="0.1s">
                            <h4>SAMESIDE</h4>
                            <p class="lead">세임사이드(SAMESIDE)는 음악에 대한 믿음, 팬들의 공감과 지지를 기반으로 언제나 새로운 길을 개척해나가는 가장 선도적인 음악 레이블입니다. 기존에 없던 세임사이드 뮤직만의 방식으로 시대를 담는 가장 상징적인 음악을 만들어 전 세계 팬들이 들을 수 있도록 노력하고 있습니다. 소속 아티스트로는 마미손, 원슈타인, 산이가 있습니다.</p>
                            <div class="extra-space-m"></div>
                            <div class="text-left">
                                <a href="#" target="_blank" role="button">
                                    <img src="assets/images/home/business/home.png" width="75px" height="auto" />
                                </a>
                            </div>
                        </div>
                        <div class="fact-inner wow fadeInRight" data-wow-delay="0.2s">
                            <h4>JUPITER Ent.</h4>
                            <p class="lead">세임사이드(SAMESIDE)는 음악에 대한 믿음, 팬들의 공감과 지지를 기반으로 언제나 새로운 길을 개척해나가는 가장 선도적인 음악 레이블입니다. 기존에 없던 세임사이드 뮤직만의 방식으로 시대를 담는 가장 상징적인 음악을 만들어 전 세계 팬들이 들을 수 있도록 노력하고 있습니다. 소속 아티스트로는 마미손, 원슈타인, 산이가 있습니다.</p>
                            <div class="extra-space-m"></div>
                            <div class="text-left">
                                <a href="#" target="_blank" role="button">
                                    <img src="assets/images/home/business/home.png" width="75px" height="auto" />
                                </a>
                            </div>
                        </div>
                        <div class="fact-inner wow fadeInRight" data-wow-delay="0.3s">
                            <h4>BIG FLASH</h4>
                            <p class="lead">세임사이드(SAMESIDE)는 음악에 대한 믿음, 팬들의 공감과 지지를 기반으로 언제나 새로운 길을 개척해나가는 가장 선도적인 음악 레이블입니다. 기존에 없던 세임사이드 뮤직만의 방식으로 시대를 담는 가장 상징적인 음악을 만들어 전 세계 팬들이 들을 수 있도록 노력하고 있습니다. 소속 아티스트로는 마미손, 원슈타인, 산이가 있습니다.</p>
                            <div class="extra-space-m"></div>
                            <div class="text-left">
                                <a href="#" target="_blank" role="button">
                                    <img src="assets/images/home/business/home.png" width="75px" height="auto" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra-space-xl"></div>
                <div class="row">
                    <div class="fact col-md-6 col-sm-6 wow fadeInLeft">
                        <div class="fact-inner">
                            <h4>MAGAZINE</h4>
                            <span class="subTitle">갤럭시 메타버스의 최신 정보를 공유합니다</span>
                        </div>
                    </div>
                    <div class="fact col-md-6 col-sm-6">
                        <div class="fact-inner wow fadeInRight" data-wow-delay="0.4s">
                            <h4>YOURABORATION</h4>
                            <p class="lead">세임사이드(SAMESIDE)는 음악에 대한 믿음, 팬들의 공감과 지지를 기반으로 언제나 새로운 길을 개척해나가는 가장 선도적인 음악 레이블입니다. 기존에 없던 세임사이드 뮤직만의 방식으로 시대를 담는 가장 상징적인 음악을 만들어 전 세계 팬들이 들을 수 있도록 노력하고 있습니다. 소속 아티스트로는 마미손, 원슈타인, 산이가 있습니다.</p>
                            <div class="extra-space-m"></div>
                            <div class="text-left">
                                <a href="#" target="_blank" role="button">
                                    <img src="assets/images/home/business/home.png" width="75px" height="auto" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra-space-xl"></div>
                <div class="row">
                    <div class="fact col-md-6 col-sm-6">
                        <div class="fact-inner wow fadeInLeft">
                            <h1>SOLUTION</h1>
                            <span class="subTitle">갤럭시 IP와 연계되는 사업을 발전시키고 확장시킵니다</span>
                        </div>
                    </div>
                    <div class="fact col-md-6 col-sm-6">
                        <div class="fact-inner wow fadeInRight" data-wow-delay="0.1s">
                            <h4>UNIVERSE RAIL 999</h4>
                            <p class="lead">세임사이드(SAMESIDE)는 음악에 대한 믿음, 팬들의 공감과 지지를 기반으로 언제나 새로운 길을 개척해나가는 가장 선도적인 음악 레이블입니다. 기존에 없던 세임사이드 뮤직만의 방식으로 시대를 담는 가장 상징적인 음악을 만들어 전 세계 팬들이 들을 수 있도록 노력하고 있습니다. 소속 아티스트로는 마미손, 원슈타인, 산이가 있습니다.</p>
                            <div class="extra-space-m"></div>
                            <div class="text-left">
                                <a href="#" target="_blank" role="button">
                                    <img src="assets/images/home/business/home.png" width="75px" height="auto" />
                                </a>
                            </div>
                        </div>
                        <div class="fact-inner wow fadeInRight" data-wow-delay="0.2s">
                            <h4>WHITE HOLE</h4>
                            <p class="lead">세임사이드(SAMESIDE)는 음악에 대한 믿음, 팬들의 공감과 지지를 기반으로 언제나 새로운 길을 개척해나가는 가장 선도적인 음악 레이블입니다. 기존에 없던 세임사이드 뮤직만의 방식으로 시대를 담는 가장 상징적인 음악을 만들어 전 세계 팬들이 들을 수 있도록 노력하고 있습니다. 소속 아티스트로는 마미손, 원슈타인, 산이가 있습니다.</p>
                            <div class="extra-space-m"></div>
                            <div class="text-left">
                                <a href="#" target="_blank" role="button">
                                    <img src="assets/images/home/business/home.png" width="75px" height="auto" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
