<section id="dna-section" class="page bg-style1 text-white" data-stellar-background-ratio="0.5">
    <!-- <div class="cover"></div> -->
    <!-- Begin page header-->
    <!-- <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Careers</h2>
                <div class="devider"></div>
            </div>
        </div>
    </div> -->
    <!-- End page header-->
    <div class="contact wow bounceInRight" data-wow-delay="0.4s">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="contact-info">
                        <h5>GALAXY DNA는 일하는 방식과 가치 판단의 기준을 의미합니다.</h5>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-4 col-md-4">
                        
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="contact-form" #contactForm>
                            <app-connection [contactFormElement]="contactFormElement"></app-connection>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        
                    </div>
                </div>
                
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
