<section id="dna-section" class="page bg-style1 text-white" data-stellar-background-ratio="0.5">
    <!-- <div class="cover"></div> -->
    <!-- Begin page header-->
    <!-- <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Careers</h2>
                <div class="devider"></div>
            </div>
        </div>
    </div> -->
    <!-- End page header-->
    <div class="contact wow bounceInRight" data-wow-delay="0.4s">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="pc">
                        <div class="dna-fact-start col-sm-12 col-md-12">
                            <div class="contact-info">
                                <h5>우리의 메타버스를 함께 </h5>
                                <h5>여행할 갤럭시 DNA를 </h5>
                                <h5>가진 분들과 함께합니다.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="mobile">
                        <div class="dna-fact-start col-sm-4 col-md-4">
                            <div class="contact-info">
                                <h5>우리의 메타버스를 함께 </h5>
                                <h5>여행할 갤럭시 DNA를 </h5>
                                <h5>가진 분들과 함께합니다.</h5>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 col-md-4">
                        <div class="contact-form" #contactForm>
                            <app-connection [contactFormElement]="contactFormElement"></app-connection>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="pc">
                <div class="extra-space-xxl"></div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="dna-fact-start col-sm-4 col-md-4">
                        <div class="dna-info">
                            <div class="pc">
                                <h5 style="margin-bottom: 0px;">PIONEER</h5>
                                <h5>SPIRIT</h5>
                            </div>
                            <div class="mobile">
                                <h5>PIONEER SPIRIT</h5>
                            </div>
                            <div class="extra-space-m"></div>
                            <div class="pc" style="margin-right: 50px;">
                                <p class="subTitle"> 우리는 모험심이 강한 집단입니다. 새로운 것을 탐험하고 남들과 다른 사고와 도전정신으로 누구보다 빨리 새로운 세상을 맞이할 사람들. 우리는 그런 분들과 새로운 세상을 만들어 갑니다.</p>
                            </div>
                            <div class="mobile">
                                <p class="subTitle"> 우리는 모험심이 강한 집단입니다. 새로운 것을 탐험하고 남들과 다른 사고와 도전정신으로 누구보다 빨리 새로운 세상을 맞이할 사람들. 우리는 그런 분들과 새로운 세상을 만들어 갑니다. </p>
                            </div>
                        </div>
                    </div>
                    <div class="dna-fact-start col-sm-4 col-md-4">
                        <div class="dna-info">
                            <h5>VALUABLE INFLUENCE</h5>
                            <div class="extra-space-m"></div>
                            <div class="pc" style="margin-right: 50px;">
                                <p class="subTitle"> 삶을 가치 있게 만드는 것에 최선을 다합니다. 우리는 가치 있는 콘텐츠와 가치 있는 모든 일에 수평적인 자세로 공동체를 위한 콘텐츠 및 IP를 개발하여, 보다 좋은 세상을 만들어 가는 것에 기초합니다. </p>
                            </div>
                            <div class="mobile">
                                <p class="subTitle"> 삶을 가치 있게 만드는 것에 최선을 다합니다. 우리는 가치 있는 콘텐츠와 가치 있는 모든 일에 수평적인 자세로 공동체를 위한 콘텐츠 및 IP를 개발하여, 보다 좋은 세상을 만들어 가는 것에 기초합니다. </p>
                            </div>
                        </div>
                    </div>
                    <div class="dna-fact-start col-sm-4 col-md-4">
                        <div class="dna-info">
                            <h5>WONDERFUL WORLD</h5>
                            <div class="extra-space-m"></div>
                            <div class="pc" style="margin-right: 50px;">
                                <p class="subTitle"> 우리는 함께 만들고, 함께 느낄수 있는 보람과 성취, 이를 함께 나눈다는 생각으로 업무를 수행합니다. 이를 통해 만들어낸 모든 것들이 보다 멋진 세상을 만들어가는 데에 이바지한다는 것을 믿습니다.</p>
                            </div>
                            <div class="mobile">
                                <p class="subTitle"> 우리는 함께 만들고, 함께 느낄수 있는 보람과 성취, 이를 함께 나눈다는 생각으로 업무를 수행합니다. 이를 통해 만들어낸 모든 것들이 보다 멋진 세상을 만들어가는 데에 이바지한다는 것을 믿습니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="dna-fact-start col-sm-12 col-md-12 ">
                        <div class="extra-space-l"></div>
                        <div class="dna-info text-right">
                            <div class="pc">
                                <p class="mainTitle">커리어 성장을 위한 다양한 기회를 지금 확인해 보십시오.</p>
                            </div>
                            <div class="mobile text-center">
                                <p class="subTitle">커리어 성장을 위한 다양한 기회를 지금 확인해 보십시오.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <div class="extra-space-xxl"></div>
    </div>
</section>
