<section id="galaxy-ip-section" class="page bg-style1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio">
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Our Works</h2>
                                <div class="devider"></div>
                                <p class="subtitle">What we are proud of</p>
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
                    <div class="portfolio_content_area">
                        <div class="portfolio_content">
                            <div class="row" id="portfolio">
                                <div class="col-xs-12 col-sm-4 wow fadeInUp">
                                    <div class="portfolio_single_content">
                                        <img src="assets/images/home/portfolio/z_dabi.png" alt="title" />
                                        <div>
                                            <a href="assets/images/home/portfolio/z_dabi_detail.jpeg" data-lightbox="portfolio" class="link-preview"><i class="ion-android-archive"></i> QUADDURUP</a>
                                            <span>파워풀한 댄스와 눈웃음이 매력적인 QDR입니다.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="portfolio_single_content">
                                        <img src="assets/images/home/portfolio/z_insoon.png" alt="title" />
                                        <div>
                                            <a href="assets/images/home/portfolio/z_insoon_detail.jpeg" data-lightbox="portfolio" class="link-preview"><i class="ion-android-attach"></i> QUADDURUP</a>
                                            <span>파워풀한 댄스와 눈웃음이 매력적인 QDR입니다.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="portfolio_single_content">
                                        <img src="assets/images/home/portfolio/z_mommyson.png" alt="title" />
                                        <div>
                                            <a href="assets/images/home/portfolio/z_mommyson_detail.jpeg" data-lightbox="portfolio" class="link-preview"><i class="ion-android-camera"></i> QUADDURUP</a>
                                            <span>파워풀한 댄스와 눈웃음이 매력적인 QDR입니다.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="portfolio_single_content">
                                        <img src="assets/images/home/portfolio/z_zzuadu.png" alt="title" />
                                        <div>
                                            <a href="assets/images/home/portfolio/z_zzuadu_detail.jpeg" data-lightbox="portfolio" class="link-preview"><i class="ion-android-chat"></i> QUADDURUP</a>
                                            <span>파워풀한 댄스와 눈웃음이 매력적인 QDR입니다.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>