<section id="galaxy-ip-section" class="page bg-style1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio">
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                                <img src="assets/images/home/ip/devide_ip.png" />
                                <p class="devide_sub"><img src="assets/images/home/ip/devide_ip_sub.png" /></p>
                            </div>
                        </div>
                    </div>
                    <div class="pc">
                        <div class="extra-space-xxl"></div>
                    </div>
                    <!-- End page header-->
                    <div class="portfolio_content_area">
                        <div class="portfolio_content">
                            <div class="row" id="portfolio">
                                <div class="ip col-xs-4 col-sm-4 wow fadeInUp">
                                    <div class="pc">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z1_detail.png" data-lightbox="portfolio" class="link-preview">
                                                <img src="assets/images/home/portfolio/z1.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mobile">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z5_detail_m.png" data-lightbox="portfolio_m" class="link-preview">
                                                <img src="assets/images/home/portfolio/z1.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ip col-xs-4 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="pc">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z2_detail.png" data-lightbox="portfolio" class="link-preview">
                                                <img src="assets/images/home/portfolio/z2.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mobile">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z5_detail_m.png" data-lightbox="portfolio_m" class="link-preview">
                                                <img src="assets/images/home/portfolio/z2.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ip col-xs-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="pc">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z3_detail.png" data-lightbox="portfolio" class="link-preview">
                                                <img src="assets/images/home/portfolio/z3.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mobile">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z5_detail_m.png" data-lightbox="portfolio_m" class="link-preview">
                                                <img src="assets/images/home/portfolio/z3.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ip col-xs-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="pc">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z4_detail.png" data-lightbox="portfolio" class="link-preview">
                                                <img src="assets/images/home/portfolio/z4.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mobile">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z5_detail_m.png" data-lightbox="portfolio_m" class="link-preview">
                                                <img src="assets/images/home/portfolio/z4.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ip col-xs-4 col-sm-4 wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="pc">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z5_detail.png" data-lightbox="portfolio" class="link-preview">
                                                <img src="assets/images/home/portfolio/z5.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mobile">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z5_detail_m.png" data-lightbox="portfolio_m" class="link-preview">
                                                <img src="assets/images/home/portfolio/z5.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ip col-xs-4 col-sm-4 wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="pc">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z6_detail.png" data-lightbox="portfolio" class="link-preview">
                                                <img src="assets/images/home/portfolio/z6.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mobile">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z5_detail_m.png" data-lightbox="portfolio_m" class="link-preview">
                                                <img src="assets/images/home/portfolio/z6.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ip col-xs-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="pc">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z7_detail.png" data-lightbox="portfolio" class="link-preview">
                                                <img src="assets/images/home/portfolio/z7.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mobile">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z5_detail_m.png" data-lightbox="portfolio_m" class="link-preview">
                                                <img src="assets/images/home/portfolio/z7.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ip col-xs-4 col-sm-4 wow fadeInUp" data-wow-delay="0.7s">
                                    <div class="pc">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z8_detail.png" data-lightbox="portfolio" class="link-preview">
                                                <img src="assets/images/home/portfolio/z8.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mobile">
                                        <div class="portfolio_single_content">
                                            <a href="assets/images/home/portfolio/z5_detail_m.png" data-lightbox="portfolio_m" class="link-preview">
                                                <img src="assets/images/home/portfolio/z8.png" alt="title" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="view_more">
                                <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-delay="0.8s">
                                    <div>
                                        <img src="assets/images/home/ip/more_left.png" alt="title" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-delay="0.8s">
                                    <div>
                                        <a href="#">
                                            <img src="assets/images/home/ip/view_more.png" alt="title" width="100%" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-delay="0.8s">
                                    <div>
                                        <img src="assets/images/home/ip/more_right.png" alt="title" />
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
