<!-- Display loading image while page loads -->
<div class="page-loader"></div>
<!-- Display loading image while page loads -->
<div class="body">
    <!--========== BEGIN HEADER ==========-->
    <header id="header" class="header-main">
        <!-- Begin Navbar -->
        <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="" #pageScroll>Unika</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#company-section">Company</a></li>
                        <li><a class="page-scroll" href="#galaxy-ip-section">GALAXY IP</a></li>
                        <li><a class="page-scroll" href="#business-section">BUSINESS</a></li>
                        <li><a class="page-scroll" href="#social-section">SOCIAL</a></li>
                        <li><a class="page-scroll" href="#contact-section">CAREERS</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- End Navbar -->
    </header>
    <!-- ========= END HEADER =========-->
    <router-outlet></router-outlet>
    <!-- ========= Begin footer =========-->
    <footer class="text-off-white">
        <div class="footer">
            <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                <p class="copyright"> Copyright &copy; 2021 - All Right <a href="#" class="theme-author">GALAXY Corp</a> Reserved.</p>
            </div>
        </div>
    </footer>
    <!-- ========= End footer =========-->
    <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a>
    <!-- Scroll to top button -->
</div>
<!-- body ends -->
