<!-- Display loading image while page loads -->
<div class="page-loader"></div>
<!-- Display loading image while page loads -->
<div class="body">
    <!--========== BEGIN HEADER ==========-->
    <header id="header" class="header-main text-center">
        <!-- Begin Navbar -->
        <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->
            <div class="container nav-container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header navbar-expand-custom">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="" #pageScroll>Unika</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#company-section"><img
                                    src="assets/images/home/header/icon_company.png" height="17px" width="auto"></a>
                        </li>
                        <li><a class="page-scroll" href="#galaxy-ip-section"><img
                                    src="assets/images/home/header/icon_ip.png" height="17px" width="auto"></a></li>
                        <li><a class="page-scroll" href="#business-section"><img
                                    src="assets/images/home/header/icon_business.png" height="17px" width="auto"></a>
                        </li>
                        <li><a class="page-scroll" href="#contact-section"><img
                                    src="assets/images/home/header/icon_contact.png" height="17px" width="auto"></a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- End Navbar -->
    </header>
    <!-- ========= END HEADER =========-->
    <router-outlet></router-outlet>
    <!-- ========= Begin footer =========-->
    <footer class="text-off-white">
        <div class="footer">
            <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                <!-- <img src="assets/images/home/contact/NaverBlogLogo_WhiteOnK.png" /> -->
                <a href="https://section.blog.naver.com/BlogHome.naver?directoryNo=0&currentPage=1&groupId=0">
                    <img src="assets/images/home/contact/NaverBlogLogo_WhiteOnK.png" height="50px" width="auto">
                </a>
                <p class="copyright"> Copyright &copy; <a href="#" class="theme-author">GALAXY Corp</a> - All Right
                    Reserved.</p>
            </div>
        </div>
    </footer>
    <!-- ========= End footer =========-->
    <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a>
    <!-- Scroll to top button -->
</div>
<!-- body ends -->