<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5">
    <div #galaxy3dContainer></div>
    <div class="container">
        <div class="caption text-center text-white" data-stellar-ratio="0.7">
            <div id="owl-intro-text" class="owl-carousel">
                <div class="item">
                    <h1>ENJOY OUR METAVERS</h1>
                    <a class="btn btn-blank" href="http://bookae.net" target="_blank" role="button"><img src="assets/images/home/main/main_who_we_are_m.png" width="67%"/></a>
                </div>
                <div class="item">
                    <h1>PERSONA UNIVERSE</h1>
                    <a class="btn btn-blank" href="http://bookae.net" target="_blank" role="button"><img src="assets/images/home/main/main_our_persona_m.png" width="67%"/></a>
                </div>
                <div class="item">
                    <h1>WITH US TO INFINITY</h1>
                    <a class="btn btn-blank" href="http://bookae.net" target="_blank" role="button"><img src="assets/images/home/main/main_what_we_do_m.png" width="67%"/></a>
                </div>
            </div>
        </div>
        <!-- /.caption -->
    </div>
    <!-- /.container -->
</section>
