<!-- Begin gate(about) section -->
<app-galaxy-about></app-galaxy-about>
<!-- End gate(about) section -->
<!-- Begin company section -->
<app-galaxy-company></app-galaxy-company>
<!-- End compnay section -->
<!-- Begin ip section -->
<!-- <app-galaxy-ip></app-galaxy-ip> -->
<!-- End ip section -->
<!-- Begin business section -->
<app-galaxy-business-renew></app-galaxy-business-renew>
<!-- End business section -->
<!-- Begin careers section -->
<app-galaxy-careers></app-galaxy-careers>
<!-- End careers section -->
<!-- Begin social section -->
<app-galaxy-social></app-galaxy-social>
<!-- End social section -->
<!-- Begin contact section -->
<app-galaxy-contact></app-galaxy-contact>
<!-- End contact section -->
