abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

li,
ol,
ul {
  list-style: none;
}

/*---------------------------------------------------------------------------------

Master Stylesheet

	Template:	 Unika - Responsive One Page HTML5 Template
	Author:		 imransdesign.com
	URL:		 http://imransdesign.com/
    Designed By: https://www.behance.net/poljakova
	Version:	1.0	

---------------------------------------------------------------------------------*/

html {
  height: 100% !important;
}

body {
  position: relative;
  height: 100%;
  font-size: 14px;
  color: whitesmoke;
}

body .body {
  height: 100%;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 46, 82, 0.15);
  padding: 20px;
}

.page {
  overflow: hidden;
  background-color: #fff;
  padding: 50px 0;
}

* {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Begin Fonts */
body {
  font-family: "Noto Sans KR", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  margin-bottom: 10px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 52px;
}

h4 {
  font-size: 48px;
}

h5 {
  font-size: 44px;
}

p {
  font: 14px/1.5em "Roboto";
}

.navbar-nav>li>a {
  font-family: "Noto Sans KR", sans-serif;
}

.pc {
  display: block;
}

.mobile {
  display: none;
}

/* End Fonts */

section {
  position: relative;
}

.page-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #fff url(assets/images/home/page-loader.gif) center center no-repeat;
}

.devider {
  width: 100%;
  height: 23px;
  background: url("assets/images/home/devider.png") no-repeat center center;
  margin: 5px 0 10px;
}

.thumbnail {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.parallax {
  position: relative;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

#header {
  /* height: 98px; */
}

/* ===== Begin text colors ===== */
.text-main {
  color: #363940;
}

/* Theme main color */
.text-white {
  color: #fff;
}

.text-off-white {
  color: #e7e7e7;
}

.text-dark {
  color: #000;
}

/* ===== Begin navbar ===== */
.navbar {
  margin: 0;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar .container {
  /* padding-left: 50px; */
  /* padding-right: 50px; */
}

/* Navbar brand (logo) */
.navbar-brand {
  background-repeat: no-repeat;
  background-position: left center;
  width: 260px;
  height: auto;
  padding: 24px 0;
  text-indent: -99999px;
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar-default .navbar-brand {
  background-image: url(assets/images/home/logo_u2.png);
  background-size: 80%;
}

.navbar-shrink .navbar-brand {
  background-image: url(assets/images/home/logo_u2.png);
}

.navbar-transparent .navbar-brand {
  background-image: url(assets/images/home/logo_u2.png);
}

.navbar-inverse .navbar-brand {
  background-image: url(assets/images/home/logo_u2.png);
}

.navbar-nav img {
  width: 80%;
}

/* Navbar links */
.navbar-nav>li>a {
  padding: 24px 0;
  /* margin-left: 25px; */
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

/* Navbar dropdown */
.dropdown-left {
  left: 0 !important;
  right: auto !important;
}

.dropdown-right {
  right: 0 !important;
  left: auto !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: transparent;
}

.navbar-default .dropdown-menu {
  padding: 10px 0;
}

.dropdown-menu>li>a {
  padding: 4px 20px;
  text-transform: uppercase;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a.active,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  text-decoration: none;
  background-color: transparent;
}

/* Navbar inverse dropdown */
.navbar-inverse .dropdown-menu {
  padding: 10px 0;
}

/* Navbar fixed */
.navbar-fixed-top .container {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar-shrink {
  z-index: 9999;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.navbar-shrink .navbar-brand {
  font-size: 20px;
}

.navbar-default.navbar-fixed-top.navbar-shrink .container {}

.navbar-fixed-top.navbar-shrink .container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav>li>a {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Navbar transparent */
.navbar-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-fixed-top.navbar-transparent .container {
  padding-top: 30px;
  padding-bottom: 0;
}

.navbar-fixed-bottom.navbar-transparent .container {
  padding-top: 0;
  padding-bottom: 30px;
}

.navbar-transparent .navbar-nav>li>a {
  color: #fff;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-brand:focus {
  color: #fff;
}

/* ===== End navbar ===== */

/* ===== Begin intro ===== */
/* Begin text carousel intro */
#text-carousel-intro-section {
  height: 100%;
}

#text-carousel-intro-section .container {
  height: 100%;
}

#text-carousel-intro-section .caption {
  position: relative;
  top: 50%;
  margin-top: -210px;
}

#text-carousel-intro-section .caption h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 60px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#text-carousel-intro-section .caption p {
  letter-spacing: 2px;
  font-size: 16px;
}

/* End text carousel intro */
/* ===== End intro ===== */

/* ===== Begin roatet boxes ===== */
/* Begin rotate box-1 */
.rotate-box-1,
.rotate-box-2 {
  display: inline-block;
  margin: 20px 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a.rotate-box-1,
a.rotate-box-2 {
  text-decoration: none;
  color: whitesmoke;
}

a.rotate-box-1:hover,
a.rotate-box-2:hover {
  color: wheat;
}

.rotate-box-1 .rotate-box-icon {
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
  margin-right: 25px;
  margin-top: 10px;
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rotate-box-1.square-icon .rotate-box-icon,
.rotate-box-2.square-icon .rotate-box-icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff !important;
  font-size: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotate-box-1.square-icon .rotate-box-icon:after,
.rotate-box-2.square-icon .rotate-box-icon:after {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border: 2px solid #fff;
}

.rotate-box-1:hover.square-icon .rotate-box-icon,
.rotate-box-2:hover.square-icon .rotate-box-icon {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.rotate-box-1.square-icon .rotate-box-icon .fa,
.rotate-box-2.square-icon .rotate-box-icon .fa {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.rotate-box-1:hover.square-icon .rotate-box-icon .fa,
.rotate-box-2:hover.square-icon .rotate-box-icon .fa {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.rotate-box-1 .rotate-box-info a,
.rotate-box-2 .rotate-box-info a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rotate-box-1 h4,
.rotate-box-2 h4 {
  font-weight: 400;
}

.rotate-box-1 p {
  padding: 0 10px;
}

.rotate-box-1 .rotate-box-info {
  padding-left: 60px;
}

.rotate-box-1-wrapper .subTitle {
  font-size: 23px;
  display: inline-block;
  margin-bottom: 10px;
}

.rotate-box-1-wrapper .mobile .subTitle {
  font-size: 17px;
  display: block;
}

/* End rotate box-1 */

/* Begin rotate box-2 */
.rotate-box-2 .rotate-box-icon {
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rotate-box-2.square-icon .rotate-box-icon {
  width: 75px;
  height: 75px;
  line-height: 75px;
  font-size: 36px;
}

.rotate-box-2.square-icon .rotate-box-info {
  margin-top: 30px;
}

/* End rotate box-2 */
/* ===== End rotate boxes ===== */

/* ===== Begin progress bar ===== */
.skill-bar {}

.progress {
  overflow: visible;
  height: 25px;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress .percent {
  position: relative;
  background-color: #222;
  padding: 7px;
  color: #fff;
  top: -23px;
}

.progress .percent:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: -4px;
  width: 0;
  height: 0;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid #222;
}

.progress-bar {
  font-size: 10px;
  line-height: 7px;
  text-align: right;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-lebel h6 {
  margin-bottom: 10px;
  letter-spacing: 2px;
}

/* ===== End progress bar ===== */

/* Begin cta section */
#cta-section {
  padding: 70px 0 80px;
}

.cta-btn {
  margin-top: 30px;
}

/* End cta section */

/* ===== Begin testimonial ===== */
.testimonial {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
}

.testimonial .cover {
  background-color: rgba(0, 7, 11, 0.87);
}

.testimonial-inner {
  position: relative;
  max-width: 800px;
  z-index: 9;
}

.testimonial-inner .heading {
  margin-bottom: 20px;
}

.testimonial-inner blockquote {
  border: none;
}

.testimonial-inner blockquote p {
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.testimonial-inner blockquote cite {
  font-style: normal;
  color: #fff;
  font-size: 1.5em;
}

/* ===== End testimonial ===== */

/* ===== Begin Portfolio===== */
.portfolio_area {}

.portfolio {}

.portfoloi_top {}

.portfoloi_content_area {}

.portfolio_menu {
  text-align: center;
  overflow: hidden;
  margin-top: 22px;
  margin-bottom: 48px;
}

.portfolio_menu ul {
  list-style: none outside none;
  text-align: center;
}

.portfolio_menu ul li {
  display: inline-block;
}

.portfolio_menu ul li a {
  color: #363940;
  background: transparent;
  display: inline-block;
  margin: 4px;
  padding: 8px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.portfolio_content {}

.portfolio_single_content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  margin-bottom: 0px;
  overflow: hidden;
}

.portfolio_single_content:hover img {
  -o-transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.portfolio_single_content img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 6;
  cursor: pointer;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.portfolio_single_content .canv {
  width: 100% !important;
  height: 100% !important;
}

.portfolio_single_content div+div {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
  bottom: -100%;
  color: #ffc000;
  font-weight: bold;
  left: 0;
  margin: 0;
  min-height: 90px;
  padding: 31px 5px 0 10px;
  position: absolute;
  width: 100%;
  z-index: 12;
  border-top: 0;
}

/*.portfolio_single_content:hover div+div{bottom: 0;}*/
.portfolio_single_content div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: scale(0);
  transition: all 0.6s;
  opacity: 0;
}

.portfolio_single_content:hover div {
  transform: scale(1);
  opacity: 1;
}

.portfolio_single_content div a {
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40%;
  padding-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.portfolio_single_content div span {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.portfolio_content {}

.portfolio_content {
  margin-top: 36px;
  overflow: hidden;
}

#portfolio {
  /* padding: 60px 0; */
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  background: #18d26e;
  color: #fff;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

#portfolio .portfolio-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#portfolio .portfolio-item {
  position: relative;
  height: 360px;
  overflow: hidden;
}

#portfolio .portfolio-item figure {
  background: #000;
  overflow: hidden;
  height: 240px;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

#portfolio .portfolio-item figure:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item figure .link-preview,
#portfolio .portfolio-item figure .link-details {
  position: absolute;
  display: inline-block;
  opacity: 0;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s linear;
}

#portfolio .portfolio-item figure .link-preview i,
#portfolio .portfolio-item figure .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #333;
}

#portfolio .portfolio-item figure .link-preview:hover,
#portfolio .portfolio-item figure .link-details:hover {
  background: #18d26e;
}

#portfolio .portfolio-item figure .link-preview:hover i,
#portfolio .portfolio-item figure .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item figure .link-preview {
  left: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure .link-details {
  right: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure:hover .link-preview {
  opacity: 1;
  left: calc(50% - 44px);
}

#portfolio .portfolio-item figure:hover .link-details {
  opacity: 1;
  right: calc(50% - 44px);
}

#portfolio .portfolio-item .portfolio-info {
  background: #fff;
  text-align: center;
  padding: 30px;
  height: 90px;
  border-radius: 0 0 3px 3px;
}

#portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 18px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-info h4 a {
  color: #333;
}

#portfolio .portfolio-item .portfolio-info h4 a:hover {
  color: #18d26e;
}

#portfolio .portfolio-item .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #b8b8b8;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

/* ===== End Portfolio===== */

/* ===== Begin Counter-Up ===== */
.counter-up {
  position: relative;
  background-color: #171717;
  padding: 0px 0 50px 0;
}

.counter-up .cover {
  background-color: black;
}

.counter-up .fact {}

.counter-up .fact.last {
  border-right: none;
}

.counter-up .fact-inner {
  padding-bottom: 30px;
}

.counter-up .fact-inner .counter {
  font-size: 60px;
}

.counter-up .fact-inner .subTitle {
  font-size: 23px;
}

.fact-inner .mobile {
  text-align: center;
}

.fact-inner-start {
  margin-top: 30px;
}

.fact-header {
  margin-bottom: 20px;
}

.rotate-fact {
  margin-top: 100px;
}

.rotate-fact-start {
  margin-top: 50px;
}

/* ===== End Counter-Up ===== */

/* ===== Begin team ===== */
.team-item {
  height: 120px;
}

.team-item .team-triangle {
  width: 120px;
  height: 120px;
  background: transparent;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 auto;
  position: relative;
  top: 25px;
  box-shadow: 0 0 0 6px #ffffff, 0 0 0 7px #dadbdb;
  overflow: hidden;
}

.team-item img {
  max-width: 100%;
}

.team-items {
  margin-bottom: 50px;
  padding-top: 10px;
  margin-top: 0;
}

.team-triangle .content {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -35px;
  position: absolute;
  left: -37px;
  width: 190px;
  height: 190px;
}

.team-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(103, 109, 117, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  /* For Safari 3.1 to 6.0 */
  transition: opacity 0.4s ease-in;
}

.team-item .team-triangle:hover .team-hover {
  opacity: 1;
}

.team-hover i {
  color: rgba(255, 255, 255, 0.75);
  font-size: 28px;
  margin-top: 57px;
  position: relative;
}

.team-hover p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
}

.team-items .col-md-2:nth-child(7n + 5) {
  clear: left;
  margin-left: 24.9999999%;
}

.team-items .col-md-2:nth-child(7n + 1) {
  clear: left;
  margin-left: 16.6666666%;
}

/* ===== End team ===== */

/* ===== Begin partners ===== */
#partners-section {
  padding: 80px 0;
}

.partners {
  background-color: #252320;
}

.partners img {
  max-width: 100%;
  padding: 0 15px;
}

/* ===== End partners ===== */

/* ===== Begin panels ===== */
.panel,
.panel-heading,
.panel-footer {}

/* ===== End panels ===== */

/* ===== Begin prices ===== */
.lead {
  margin-bottom: 0px;
}

.prices .panel {
  position: relative;
  overflow: hidden;
  border: none;
}

.prices .panel-body .lead {
  margin: 0;
  font-size: 48px;
}

.prices .panel-footer {
  padding: 25px 15px;
}

/* panel-default */
.prices .panel-default .panel-heading {
  padding-top: 25px;
  border: none;
}

.prices .panel-default .panel-body {
  background-color: #eee;
}

.prices .panel-default .list-group-item {
  color: #222;
  border: none;
}

.prices .panel-default .panel-footer {
  background-color: #eee;
}

/* price-box-featured */
.price-box-featured {
  z-index: 9;
}

.price-box-featured .panel {
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.21);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.prices .price-box-featured .price-box-ribbon {
  position: absolute;
  width: 150px;
  top: 25px;
  right: -35px;
  text-align: center;
  padding: 5px 20px;
  background: #fff;
  color: #e83f33;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ===== End prices ===== */

/* ===== Begin social ===== */
#social-section {
  padding: 80px 0;
}

ul.social-list {
  text-align: center;
  margin: 0 auto;
}

ul.social-list li {
  display: inline-block;
  margin-right: 20px;
}

ul.social-list li .rotate-box-1 {
  margin: 0;
}

ul.social-list li a i {
  color: #fff;
  font-size: 20px;
}

#social-section .mobile span {
  color: black;
  font-size: 13px;
  margin-bottom: 9px;
}

#social-section .pc span {
  color: black;
  font-size: 19px;
  margin-bottom: 9px;
}

/* ===== End social ===== */

/* ===== Begin contact ===== */
#contact-section {
  position: relative;
}

#contact-section h4 {
  font-weight: 400;
}

#contact-section .cover {
  background-color: black;
}

#contact-section .contact .contact-form {
  margin-bottom: 40px;
}

#contact-section .contact .contact-form h4 {
  margin-bottom: 25px;
}

#contact-section .contact .contact-form .input-lg {
  font-size: 14px;
}

#contact-section .contact .contact-form button {
  width: 100%;
  height: 40px;
}

#contact-section .contact .contact-form button:hover {
  color: #fff;
}

#contact-section .contact .form-control {
  background-color: rgba(255, 255, 255, 0.06);
  border-color: #2a2a2a;
}

#contact-section .contact .form-control:focus {
  background-color: #171717;
  box-shadow: none;
}

ul.contact-address {
  float: left;
  width: 100%;
  padding: 0;
  margin: 15px 0;
}

ul.contact-address li {
  padding: 0 0 20px;
  margin: 0;
}

ul.contact-address li:last-child {
  padding-bottom: 0;
}

ul.contact-address li i {
  margin-right: 10px;
}

.contact-info .subTitle {
  font-size: 23px;
}

.dna-info .mainTitle {
  font-size: 20px;
  margin-bottom: 5px;
}

.dna-info .subTitle {
  font-size: 16px;
}

.dna-fact-start {
  margin-top: 30px;
}

/* ===== End contact ===== */

/* ===== Begin footer ===== */
.footer-top {
  padding: 60px 0 35px;
}

.footer-top .col-md-4 {
  margin-bottom: 25px;
}

.footer {
  padding: 30px 0;
}

.footer a {
  text-decoration: none;
}

/*Widget1: Useful Links*/
ul.imp-links {
  margin-top: 15px;
}

ul.imp-links li {
  padding: 5px 0;
}

ul.imp-links li a {
  text-decoration: none;
  color: #fff;
}

/*Widget2: subscribe form*/
#subscribe #result {
  display: block;
  width: 100% !important;
}

#footer_signup {
  margin: 20px 0;
}

#subscribe>input[type="text"] {
  border: 0 none;
  color: #99abb7;
  font-style: italic;
  font-size: 0.9em;
  padding: 7px 10px;
  width: 170px;
  height: 30px;
}

#subscribe>button[type="submit"] {
  background: none repeat scroll 0 0 #21c2f8;
  border: 0 none;
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  padding: 7px 20px;
  height: 30px;
  transition: all 0.4s ease-in;
}

/*Widget3: twitter*/
.single-tweet {
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 10px;
  word-spacing: 2px;
}

.tweet-content {
  padding-bottom: 10px;
  line-height: 1.5em;
}

/* ===== End footer ===== */

/* ===== Begin page header ===== */
.page-header {
  margin: 0 0 30px 0;
  padding: 0;
  border: none;
}

.page-header h2 {
  text-transform: uppercase;
}

p.subtitle {
  letter-spacing: 2px;
  margin-top: 10px;
}

/* ===== End page header ===== */

/* ===== Begin extra-space ===== */
.extra-space-m {
  width: 100%;
  height: 20px;
}

.extra-space-l {
  width: 100%;
  height: 40px;
}

.extra-space-xl {
  width: 100%;
  height: 60px;
}

.extra-space-xxl {
  width: 100%;
  height: 80px;
}

/* ===== End more-space ===== */

/* ===== Begin OWL carousel ===== */
.owl-carousel {
  cursor: e-resize;
}

.owl-theme .owl-controls {
  margin-top: 30px;
}

.owl-theme .owl-controls .owl-page span {
  background: rgba(0, 0, 0, 0);
  width: 14px;
  height: 14px;
  border: 3px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: rgba(0, 0, 0, 0);
  border: 3px solid #fff;
}

.owl-buttons {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 100%;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 0;
  text-align: center;
  background: transparent;
  opacity: 1;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  opacity: 0.5;
}

.owl-next {
  background-image: url(assets/images/home/arrow-right.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  right: 0;
}

.owl-prev {
  background-image: url(assets/images/home/arrow-left.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  left: 0;
}

/* ===== End OWL carousel ===== */

/* ===== Begin buttons ===== */
.btn {
  position: relative;
  letter-spacing: 1.5px;
  border: none;
}

.btn:active {
  top: 2px;
}

/* Button default */
.btn-default,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

/* Button blank */
.btn-blank {
  /* border: 2px solid #fff; */
  /* background: #fff; */
  color: #fff;
  /* padding: 8px 12px; */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn-blank:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: #fff; */
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-blank:hover,
.btn-blank:focus,
.btn-blank:active {
  color: #333;
}

.btn-blank:hover:before,
.btn-blank:focus:before,
.btn-blank:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Button active */
.btn:active,
.btn.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
}

/* Button large */
.btn-lg {
  font-size: 1.3em;
  padding: 10px 40px;
}

.btn-lg-xl {
  font-size: 1.4em;
  padding: 10px 80px;
}

/* Scroll to top button */
.scrolltotop {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 30px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  z-index: 9999;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.scrolltotop .fa {
  padding-left: 4px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* ===== End buttons ===== */
/* === Navbar === */
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default,
.navbar-default.navbar-fixed-top.navbar-shrink {
  background-color: black;
}

.navbar-default .navbar-nav>li>a {
  color: #a9a9a9;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>.active>a {
  color: #fff !important;
}

.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav>li>a {
  color: #a9a9a9;
}

.navbar-default.navbar-shrink .navbar-nav>li>a:hover,
.navbar-default.navbar-shrink .navbar-nav>li>a:focus,
.navbar-default.navbar-shrink .navbar-nav>li.active>a {
  color: #fff;
}

.navbar-default.navbar-shrink .navbar-nav>li.active>a {
  -webkit-box-shadow: inset 0 3px #fff !important;
  -moz-box-shadow: inset 0 3px #fff !important;
  box-shadow: inset 0 3px #fff !important;
}

.navbar-default .dropdown-menu {
  border: 1px solid #fff;
  border-top: 2px solid #fff;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a.active,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  color: #ffff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li.active>a {}

/* Navbar inverse */
.navbar-inverse {
  background-color: #111;
  color: #ccc;
}

.navbar-inverse .navbar-brand {
  color: #ccc;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ccc;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  background-color: transparent;
  color: #111;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li.active>a {
  color: #111;
}

/* Navbar inverse dropdown */
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  color: #111;
}

.navbar-inverse .dropdown-menu {
  background-color: #1f1f1f;
  border: 1px solid #111;
  border-top: 2px solid #111;
}

.navbar-inverse .dropdown-menu>li>a {
  color: #ccc;
}

.navbar-inverse .dropdown-menu>li>a:hover,
.navbar-inverse .dropdown-menu>li>a:focus {
  color: #111;
}

/* Navbar fixed */
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-brand {
  color: #fff;
}

.navbar-default.navbar-fixed-top.navbar-shrink .navbar-brand:hover {
  color: #111;
}

/* Navbar fixed inverse */
.navbar-inverse.navbar-fixed-top.navbar-shrink {
  background-color: #111;
}

.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav>li>a {
  color: #ccc;
}

.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav>.active>a,
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav>.active>a:hover,
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav>.active>a:focus,
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav>li>a:hover,
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav>li>a:focus,
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav>li.active>a {
  background-color: transparent;
  color: #111;
}

.navbar-fixed-top.navbar-shrink .navbar-brand,
.navbar-fixed-top.navbar-shrink .navbar-brand:focus,
body.boxed .body .navbar-inverse.navbar-transparent.navbar-shrink .navbar-brand {
  color: #ccc;
}

.navbar-fixed-top.navbar-shrink .navbar-brand:hover {
  color: #111;
}


.pc .popup {
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 100;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 658px;
  height: 80%;
  background-color: aliceblue;
  margin-top: 3em;
  padding: 2em 2em 2em 2em;
  overflow: scroll;
}

.pc .popup_box {
  position: relative;
}

.pc .popup_box>h3 {
  color: black;
  text-align: center;
  font-size: 30px;
}

.pc .popup_box>table,
tr,
td,
th {
  border: 0.8px solid black;
  text-align: center;
  padding: 2px 10px;
}


.pc .popup_box_inner {
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  padding: 2em;
}

.pc .popup_text {
  color: black;
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: normal;
}

.pc .popup_text_no_margin {
  color: black;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  line-height: normal;
}


.pc .ly_vote_close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 23px;
  height: 23px;
}

.pc .ly_vote_close::before,
.pc .ly_vote_close::after {
  position: absolute;
  top: 0;
  left: 11px;
  width: 1px;
  height: 26px;
  background-color: black;
  content: '';
}

.pc .ly_vote_close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pc .ly_vote_close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.pc .blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.mobile .popup {
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 100;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80%;
  height: 80%;
  background-color: aliceblue;
  margin-top: 3em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  overflow: scroll;
}

.mobile .popup_box {
  position: relative;
}

.mobile .popup_box>h3 {
  color: black;
  text-align: center;
  font-size: 30px;
}

.mobile .popup_box>table,
tr,
td,
th {
  border: 0.8px solid black;
  text-align: center;
  padding: 2px 10px;
}


.mobile .popup_box_inner {
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  padding: 2em;
}

.mobile .popup_text {
  color: black;
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: normal;
}

.mobile .popup_text_no_margin {
  color: black;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  line-height: normal;
}


.mobile .ly_vote_close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 23px;
  height: 23px;
}

.mobile .ly_vote_close::before,
.mobile .ly_vote_close::after {
  position: absolute;
  top: 0;
  left: 11px;
  width: 1px;
  height: 26px;
  background-color: black;
  content: '';
}

.mobile .ly_vote_close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile .ly_vote_close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile .blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .navbar-brand {
    background-repeat: no-repeat;
    background-position: left center;
    height: auto;
    padding: 24px 0;
    text-indent: -99999px;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

  /* Make Navigation Toggle on Desktop Hover (use class: dropdown-hover) */
  .dropdown-hover:hover>.dropdown-menu {
    display: block;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .navbar-fixed-top .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .navbar-fixed-top .container {
    display: block;
  }
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

  /* Text Carousel */
  #text-carousel-intro-section .caption h1 {
    font-size: 50px;
  }

  /* Team */
  .team-item .team-triangle {
    width: 90px;
    height: 90px;
  }

  .team-triangle .content {
    width: 160px;
    height: 160px;
  }

  .team-hover i {
    margin-top: 50px;
  }

  .team-hover p {
    font-size: 14px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

  /* Team */
  .team-item .team-triangle {
    width: 120px;
    height: 120px;
  }

  .team-triangle .content {
    width: 190px;
    height: 190px;
  }

  .team-hover i {
    margin-top: 57px;
  }

  #team-section .col-md-2:nth-child(7n + 5),
  #team-section .col-md-2:nth-child(7n + 1) {
    margin-left: 0 !important;
    clear: none !important;
  }

  #team-section .col-md-2 {
    float: left;
    margin-bottom: 80px;
    width: 33.3333%;
  }

  /* Prices */
  .price-box-featured .panel {
    box-shadow: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .prices .price-box-featured .panel-footer {
    box-shadow: none !important;
  }

  /* Parallax background */
  .parallax {
    background-attachment: scroll !important;
    /* background-position: 50% 50% !important; */
    background-size: auto auto !important;
  }

  /* Text carousel intro section caption */
  #text-carousel-intro-section .caption {
    top: 50% !important;
    /* Removes parallax on caption */
  }

  #text-carousel-intro-section .caption h1 {
    font-size: 34px;
  }

  #text-carousel-intro-section .caption h3 {
    font-size: 12px;
  }

  /* Error section caption */
  #error-section .caption h1 {
    font-size: 100px;
  }

  #error-section .caption h2 {
    font-size: 13px;
  }

  /* Facts (counter up) */
  .counter-up .fact-inner .counter {
    font-size: 42px;
  }

  .counter-up .fact-inner .fa-3x {
    font-size: 36px;
  }

  .navbar-fixed-top .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav>li>a {
    padding: 10px 0 !important;
    color: #fff;
    width: 150px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    margin-bottom: 0px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 38px;
  }

  h4 {
    font-size: 34px;
  }

  h5 {
    font-size: 32px;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: block;
  }

  /* Navbar brand */
  .navbar-brand,
  .navbar-brand:focus {
    margin-left: 20px;
  }

  .navbar-default .navbar-brand {
    background-size: 100%;
  }

  .page-header {
    margin: 0;
  }

  .container .page-header>img {
    width: 100%;
  }

  .devide_sub>img {
    width: 50%;
  }

  /* Navbar toggle button */
  .navbar-toggle {
    margin-top: 18px;
    border: none;
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  .navbar-toggle .icon-bar {
    height: 3px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
  }

  .navbar-transparent .navbar-toggle .icon-bar {
    background-color: #fff !important;
  }

  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff !important;
  }

  /* Navbar collapse / links */
  .navbar-collapse {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
  }

  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 440px;
  }

  .navbar-inverse .navbar-collapse {
    background-color: #111;
  }

  .navbar-nav>li>a {
    padding: 10px 0 !important;
    color: #fff;
  }

  .navbar-nav .open .dropdown-menu>li>a {
    padding: 10px 10px 10px 45px !important;
  }

  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #222;
  }

  .navbar-inverse .navbar-nav>li>a,
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #ccc;
  }

  .navbar-default.navbar-shrink .navbar-nav>li.active>a {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  /* Navbar shrink toggle button */
  .navbar-shrink .navbar-toggle .icon-bar {
    background-color: #fff !important;
  }

  .navbar-inverse.navbar-shrink .navbar-toggle .icon-bar {
    background-color: #fff !important;
  }

  /* Page */
  .page {
    padding-top: 30px;
  }

  /* Some Text Center Area */
  #cta-section,
  #about-section,
  #contact-section,
  #contact-section .contact .form-control {
    text-align: center;
  }

  /* Rotate Box */
  .rotate-box-1 .rotate-box-info {
    padding-left: 0;
    text-align: center;
  }

  .rotate-box-1 .rotate-box-icon {
    float: none;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .rotate-fact {
    margin-top: 50px;
  }

  .rotate-fact-start {
    margin-top: 0px;
  }

  a.rotate-box-1 {
    text-align: center;
    margin-top: 0;
  }

  /* Team */
  #team-section .col-md-2 {
    width: 50%;
    float: left;
    margin-bottom: 80px;
  }

  /* Prices */
  .prices .price-box-featured .panel-footer {
    box-shadow: none !important;
  }

  ul.contact-address {
    margin-bottom: 50px;
  }

  /* Partners & Foter */
  #partners-section,
  footer {
    text-align: center;
  }

  /* Hiding elements */
  .testimonial:before,
  .owl-prev,
  .owl-next {
    display: none !important;
  }

  .navbar-collapse {
    background-color: black;
    border-color: #fff !important;
  }

  .navbar-default.navbar-shrink .navbar-nav>li.active>a {
    box-shadow: none !important;
  }

  .navbar-nav>li>a:hover,
  .navbar-nav>li>a:focus,
  .navbar-nav>li.active>a {
    color: #111;
  }

  .navbar-nav img {
    width: 40%;
  }

  .navbar-fixed-top .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .rotate-box-1-wrapper .subTitle {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
  }

  .navbar-nav>li>a {
    padding: 10px 0 !important;
    color: #fff;
    width: 100%;
  }

  .navbar-default.navbar-shrink .navbar-nav>li.active>a {
    box-shadow: none !important;
  }

  .navbar-brand {
    background-repeat: no-repeat;
    background-position: left center;
    width: 170px;
    height: auto;
    padding: 24px 0;
    text-indent: -99999px;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 4px;
    transition: all 0.2s ease-in-out;
  }

  .mobile .popup {
    font-size: 12px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

  /* Team */
  #team-section .col-md-2 {
    width: 100%;
  }

  .mobile .popup_box>h3 {
    color: black;
    text-align: center;
    font-size: 20px;
  }

  .mobile .popup_text {
    color: black;
    font-size: 12px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: normal;
  }

  .mobile .popup_text_no_margin {
    color: black;
    font-size: 8px;
    text-align: left;
    font-weight: bold;
    line-height: normal;
  }

  .mobile .popup_box_inner {
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    padding: 0.7em;
  }

  .mobile .ly_vote_close {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 23px;
    height: 23px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  h5 {
    font-size: 20px;
  }

  .rotate-box-1-wrapper .mobile .subTitle {
    font-size: 11px;
  }

  #social-section .mobile span {
    font-size: 11px;
    margin-bottom: 5px;
  }

  .dna-info .subTitle {
    font-size: 11px;
  }

  ul.contact-address li {
    padding: 0 0 15px;
    margin: 0;
    font-size: 11px;
  }

  .mobile .popup_box>h3 {
    color: black;
    text-align: center;
    font-size: 16px;
  }

  .mobile .popup_text {
    color: black;
    font-size: 8px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: normal;
  }

  .mobile .popup_text_no_margin {
    color: black;
    font-size: 8px;
    text-align: left;
    font-weight: bold;
    line-height: normal;
  }

  .mobile .popup_box_inner {
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    padding: 0.7em;
  }

  .mobile .ly_vote_close {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 23px;
    height: 23px;
  }
}

a,
a:hover,
a:focus {
  color: #676d75;
}

/* === Text Carousel === */
#text-carousel-intro-section {
  background-color: #25282a;
}

/* === Rotate Box === */
.rotate-box-1.square-icon .rotate-box-icon,
.rotate-box-2.square-icon .rotate-box-icon {
  background-color: #363940;
}

/* === Progress Bar === */
.progress {
  border: 3px solid #363940;
  background-color: transparent;
}

.progress-bar {
  background-color: #676d75;
}

/* === CTA Section, Social & Partners === */
#cta-section,
#partners-section,
#social-section {
  background: white url("assets/images/home/pat-bg.png") repeat;
}

/* === Portfolio === */
.active_prot_menu a,
.portfolio_menu ul li a:hover {
  background: #363940 !important;
  color: #fff !important;
}

.portfolio_single_content div {
  background: none repeat scroll 0 0 rgba(54, 57, 64, 0.95);
}

/* === Team === */
.team-hover {
  background: none repeat scroll 0 0 rgba(54, 57, 64, 0.9);
}

/* === Price === */
.prices .panel-default .panel-heading {
  box-shadow: inset 0px 4px 0px #363940;
}

.prices .price-box-featured .panel-heading {
  background-color: #363940;
  color: #fff;
}

.prices .price-box-featured .panel-footer {
  box-shadow: inset 0px -4px 0px #363940;
}

.prices .price-box-featured .price-box-ribbon {
  color: #363940;
}

/* === Contact === */
#contact-section {
  background-color: black;
}

#contact-section .contact .contact-form button {
  background-color: #363940;
}

#contact-section .contact .contact-form button:hover {
  background-color: #676d75;
}

/* === Footer === */
.footer-top {
  background-color: black;
}

.footer {
  background-color: black;
}

#subscribe>button[type="submit"] {
  background: none repeat scroll 0 0 #676d75;
}

#subscribe>button[type="submit"]:hover {
  background: none repeat scroll 0 0 #111;
}

.tweet-content span {
  color: #111;
}

/* === Buttons === */
.btn-default,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
  background: #363940;
  color: #fff;
}

.btn-default:hover {
  color: #fff;
  background: #676d75;
}

.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #3078b3;
  color: #fff;
}

.btn-primary:hover {
  background-color: #1867a8;
  color: #fff;
}

.btn-danger,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  background-color: #e7392d;
  color: #fff;
}

.btn-danger:hover {
  background-color: #d81508;
  color: #fff;
}

/* === To Top === */
.scrolltotop {
  color: #676d75;
  border: 2px solid #676d75;
}

.bg-style1 {
  background-color: black;
}

.bg-style2 {
  background-color: white;
}

canvas {
  width: 100%;
  height: 450px;
}

.ip {
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}