#privacy-section h1 {
    font-size: 30px;
}

#privacy-section h2 {
    font-size: 25px;
}

#privacy-section h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

#privacy-section h4 {
    font-size: 15px;
}

#privacy-section p {
    font: 14px/1.2em "Roboto";
    font-weight: 100;
}

#privacy-section .weight-600 {
    font-weight: 600;
}

#privacy-section {
    background-color: white;
    color: black;
}

#privacy-section .container {
    clear: both;
    width: 840px;
    padding: 16px 0 50px 20px;
    line-height: 140%;
}

@media only screen and (max-width: 767px) {
    #privacy-section h3 {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    #privacy-section p {
        font: 30px/1.2em "Roboto";
        font-weight: 100;
    }
}