<section id="company-section" class="page bg-style1">
    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                <img src="assets/images/home/company/devide_company.png" />
                <p class="devide_sub"><img src="assets/images/home/company/devide_company_sub.png" /></p>
            </div>
        </div>
    </div>
    <!-- End page header-->
    <!-- Begin rotate box-1 -->
    <div class="rotate-box-1-wrapper">
        <div class="container">
            <div class="row">
                <div class="rotate-fact-start col-md-12 col-sm-12 wow slideInLeft" data-wow-delay="0.1s">
                    <div class="rotate-box-1 square-icon">
                        <div class="fact-header col-md-12 col-sm-12">
                            <div class="pc">
                                <img src="assets/images/home/intro/first.png" width="50%" height="95%" />
                            </div>
                            <div class="mobile">
                                <img src="assets/images/home/intro/first_m.png" width="100%" />
                            </div>
                            <!-- <h1>WE CREATE</h1>
                          <h1>METARVERS</h1> -->
                        </div>
                        <div class="fact-inner col-md-8 col-sm-6">
                            <div class="pc">
                                <span class="subTitle">새로운 메타버스의 시대, 갤럭시 코레퍼레이션은</span>
                                <span class="subTitle">즐겁게 누구나 꿈을 이룰 수 있는</span>
                                <span class="subTitle">새로운 세계를 만들어 나갑니다.</span>
                            </div>
                            <div class="mobile">
                                <span class="subTitle">새로운 메타버스의 시대, 갤럭시 코퍼레이션은 즐겁게 누구나 꿈을 이룰 수 있는 새로운 세계를 만들어 나갑니다.</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6" #motion4>
                            <app-culture [motion4Element]="motion4Element"></app-culture>
                        </div>
                    </div>
                </div>
                <div class="rotate-fact col-md-12 col-sm-6 wow slideInRight" data-wow-delay="0.2s">
                    <div class="rotate-box-1 square-icon ">
                        <div class="fact-header col-md-12 col-sm-12">
                            <div class="pc">
                                <img src="assets/images/home/intro/second.png" width="50%" height="95%" />
                            </div>
                            <div class="mobile">
                                <img src="assets/images/home/intro/second_m.png" width="100%" />
                            </div>
                            <!-- <h1>NEW WORLD</h1>
                          <h1>CONNECTION</h1> -->
                        </div>
                        <div class="fact-inner col-md-8 col-sm-6">
                            <div class="pc">
                                <span class="subTitle">우리가 만든 페르소나 별은 무한한 콘텐츠 세상을 연결하고</span>
                                <span class="subTitle">갤럭시 IP들은 다양한 비즈니스로 발전하는</span>
                                <span class="subTitle">메타버스 초연결 통합 허브입니다.</span>
                            </div>
                            <div class="mobile">
                                <span class="subTitle">우리가 만든 페르소나 별은 무한한 콘텐츠 세상을 연결하고 갤럭시 IP들은 다양한 비즈니스로 발전하는 메타버스 초연결 통합 허브입니다.</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6" #motion3>
                            <app-persona [motion3Element]="motion3Element"></app-persona>
                        </div>
                    </div>
                </div>
                <div class="rotate-fact col-md-12 col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="rotate-box-1 square-icon ">
                        <div class="fact-header col-md-12 col-sm-12">
                            <div class="pc">
                                <img src="assets/images/home/intro/third.png" width="50%" height="95%" />
                            </div>
                            <div class="mobile">
                                <img src="assets/images/home/intro/third_m.png" width="100%" />
                            </div>
                            <!-- <h1>INSPIRE</h1>
                          <h1>PERSONA</h1> -->
                        </div>
                        <div class="fact-inner col-md-8 col-sm-6">
                            <div class="pc">
                                <span class="subTitle">우리는 갤럭시 유니버스를 통해 다양한 IP를 유기적으로</span>
                                <span class="subTitle">연결하여 지속 가능한 페르소나 생태계를 구축합니다.</span>
                            </div>
                            <div class="mobile">
                                <span class="subTitle">우리는 갤럭시 유니버스를 통해 다양한 IP를 유기적으로 연결하여 지속 가능한 페르소나 생태계를 구축합니다.</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6" #motion2>
                            <app-world [motion2Element]="motion2Element"></app-world>
                        </div>
                    </div>
                </div>
                <div class="rotate-fact col-md-12 col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                    <div class="rotate-box-1 square-icon">
                        <div class="fact-header col-md-12 col-sm-12">
                            <div class="pc">
                                <img src="assets/images/home/intro/fourth.png" width="50%" height="95%" />
                            </div>
                            <div class="mobile">
                                <img src="assets/images/home/intro/fourth_m.png" width="100%" />
                            </div>
                            <!-- <h1>CULTURE</h1>
                          <h1>CREATION</h1> -->
                        </div>
                        <div class="fact-inner col-md-8 col-sm-6">
                            <div class="pc">
                                <span class="subTitle">우리가 만든 메타버스 세상 속의 갤럭시 IP는</span>
                                <span class="subTitle">이전에 경험하지 못한 새로운 세상을 만들어 하나의 문화를 개척합니다.</span>
                            </div>
                            <div class="mobile">
                                <span class="subTitle">우리가 만든 메타버스 세상 속의 갤럭시 IP는 이전에 경험하지 못한 새로운 세상을 만들어 하나의 문화를 개척합니다.</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6" #motion1>
                            <app-metaverse [motion1Element]="motion1Element"></app-metaverse>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- End rotate box-1 -->
    <div class="extra-space-l"></div>
</section>
